# Pre-parsed Python
__pycache__

# Virtualenvs
venv

# PyCharm Temporary Files
.cache

# Django Default DB
db.sqlite3

# Bothersome files
.flake8
.gitignore
.style.yapf
.idea
*.jnk

# Non-tracked directories
demos/
stubs/
