<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prediction</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'weather_maniac/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'weather_maniac/prediction.css' %}">
    <link rel="stylesheet" href="{% static 'weather_maniac/app.css' %}">
  </head>
  <body>
    <header>
      <div>
        <img src="{% static 'weather_maniac/thermo.png' %}" style="width:50px;height:50px">
        <img src="{% static 'weather_maniac/maniac.png' %}" style="width:50px;height:50px">
      </div>
      <div>
      <h1>Weather Maniac</h1>
      <h2>...adding confidence to temperature forecasts</h2>
      </div>
      <div>
        <h4>{% now "D d M Y" %}</h4>
      </div>
  </header>
  <nav>
    <ul class="nav nav-pills nav-justified">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'faq' %}">Q &amp A</a></li>
      <li><a href="{% url 'statistics' %}">See Statistics</a></li>
      <li><a href="{% url 'prediction' %}">Get a Temp Forecast</a></li>
      <li class="active"><a href="{% url 'graph' %}">Compare Forecasts</a></li>
    </ul>
  </nav>
  <main>
    <form action="{% url 'graph_json' %}" method="get">
      {% csrf_token %}
      <div id="type">
        <label>Temp:</label><br>
        <input type="radio" name="mtype" value="max" checked="checked"> High<br>
        <input type="radio" name="mtype" value="min"> Low<br>
      </div><br /><br />
      <button type="submit">Go...</button>
    </form>
    <div id="graph">
    </div>
  </main>
  <footer>
    <label><h4>Weather Manaic</h4></label>
  </footer>
    <script src="//code.jquery.com/jquery-2.2.3.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'weather_maniac/ajax_csrf_setup.js' %}"></script>
    <script src="{% static 'weather_maniac/graph.js' %}"></script>
    <!-- <script src="{% static 'weather_maniac/prediction.js' %}"></script> -->
  </body>
</html>
