<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <!-- <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'weather_maniac/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'weather_maniac/statistics.css' %}">
  </head>
  <body>
    <header>
      <div>
        <img src="{% static 'weather_maniac/thermo.png' %}" style="width:50px;height:50px">
        <img src="{% static 'weather_maniac/maniac.png' %}" style="width:50px;height:50px">
      </div>
      <div>
      <h1>Weather Maniac</h1>
      <h2>...adding confidence to temperature forecasts</h2>
      </div>
      <div>
        <h4>Info</h4>
      </div>
  </header>
    <nav>
      <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'faq' %}">Q &amp A</a></li>
        <li class="active"><a href="{% url 'statistics' %}">See Statistics</a></li>
        <li><a href="{% url 'prediction' %}">Get a Temp Forecast</a></li>
      </ul>
    </nav>
    <main>
        {% for sourceReq in stats %}
        <table>
          <caption>
            Forecaster: {{ sourceReq.source }}, {{ sourceReq.mtype}} daily temp.
          </caption>
          <tr>
            <th>Day in adv.</th>
            {% for dayReq in sourceReq.stats_by_day %}
            <td>{{ dayReq.day }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Bias</th>
            {% for dayReq in sourceReq.stats_by_day %}
            <td>{{ dayReq.mean|floatformat:1 }}&deg</td>
            {% endfor %}
          </tr>
          <tr>
            <th>StDev Error</th>
            {% for dayReq in sourceReq.stats_by_day %}
            <td>{{ dayReq.std|floatformat:1 }}&deg</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Worst Error</th>
            {% for dayReq in sourceReq.stats_by_day %}
            <td>{{ dayReq.max|floatformat:0 }}&deg</td>
            {% endfor %}
          </tr>
        </table><br />
        {% endfor %}
      </main>
    <footer>
      <label><h4>Weather Manaic</h4></label>
    </footer>
  </body>
</html>
