<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'weather_maniac/site.css' %}">
  </head>
  <body>
    <header>
      <div>
        <img src="{% static 'weather_maniac/thermo.png' %}" style="width:50px;height:50px"></a>
        <img src="{% static 'weather_maniac/maniac.png' %}" style="width:50px;height:50px"></a>
      </div>
      <div>
      <h1>Weather Maniac</h1>
      <h2>...adding confidence to temperature forecasts</h2>
      </div>
      <div>
        <h4>Info</h4>
      </div>
  </header>
    <nav>
      <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li  class="active"><a href="{% url 'statistics' %}">Learn more about the statistics.</a></li>
        <li><a href="{% url 'prediction' %}">Get a 7-day temperature prediction.</a></li>
      </ul>
    </nav>
    <main>
      Blah, blah, blah...
    </main>
    <footer>
      <label><h4>Weather Manaic</h4></label>
    </footer>
  </body>
</html>
