



main > form {
  display: flex;
  flex-direction: column;
  /*border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #000000;*/
  padding: 10px;
  align-items: baseline;
  min-width: 100px;
}

#graph {
  width: 1000px;
  height: 500px;
  /*border-style: solid;
  border-radius: 5px;
  outline-width: 2px;
  outline-color: #000000;*/
  padding: 10px;
  align-items: middle;

}

#crazy {
	display: block;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
/*
#fcst {
  flex: 0 0;
}

#type {
  flex: 0 0;
}*/
