body {
  font-family: 'Questrial', serif;
  font-size: 24px;
  position:fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
}

header {
  background-color: DeepSkyBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*flex: 1;*/
}

header > div:nth-child(2) {
  flex: 4;
}

header > div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > div:last-child {
  flex: 1;
}

header > div > h1 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 48px;
  /*flex: 1;*/
}

header > div > h2 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 20px;
  /*flex: 1;*/
}

header > div > h4 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 20px;
  /*flex: 1;*/
}

img {
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 50px;
  height: 550px;
}



footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: DeepSkyBlue;

}

footer > label {
  flex: 1 1 auto;
}

footer > label > h4 {
  text-align: center;
  color: WhiteSmoke;

}
