body {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  /*position:fixed;*/
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: scroll;
  background-color: #f9f6fb;
}

header {
  font-family: 'Freight Sans Pro', sans-serif;
  background-color: DeepSkyBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div:nth-child(2) {
  flex: 4;
}

header > div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > div:last-child {
  flex: 1;
}

header > div > h1 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 28px;
}

header > div > h2 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 20px;
}

header > div > h4 {
  text-align: center;
  color: WhiteSmoke;
  font-size: 20px;
}

img {
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 50px;
  min-height: 550px;
  max-width: 960px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: DeepSkyBlue;
}

footer > label {
  flex: 4;
}

footer > div {
  flex: 1;
}

footer > a {
  flex: 1;
}

footer > label > h4 {
  text-align: center;
  color: WhiteSmoke;
}
