
main {
  display: flex;
  flex-flow: row wrap;
}

table {
  max-width: 800px;
  margin: 20px;
}

caption {
  caption-side: top;
}

td:nth-child(even) {
  background-color: #f2f2f2
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

td {
  margin: 2px;
}
